.Header{
    display: flex;
    justify-content: center;
    align-self: center;
    top: 1rem;
}

.shipCard{
    display: flex;
    background-size: auto;
    border: 5rem solid bisque;
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-end;

}

.shipCard:hover{
    background-color: red;
}

.namePlace{
    display: flex;
    align-self: center;
}

.layout{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: burlywood;
    
}